* {
  font-family: 'Raleway', sans-serif;
}
body {
  margin: 0;
  padding: 10px;
}
p {
  margin: 0;
}

#naslov {
  font-weight: normal;
  font-size: 0.51em;
}
#domov:hover {
  color: black;
}
#besedilo {
  white-space: pre-line;
}